.h3{
    font-size: 3rem;

    
}
.third{
    background-color: darkorchid;
    flex-direction: column;
}
.cards-wrapper{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
